.area-style{
    margin: 80px;
}
#login-area,.transtyle{
    box-shadow: 10px 10px 40px lightgrey;
    padding: 40px 30px;
    border-radius: 20px;
}
.status{
    border-radius: 20px;
    color: white;
    padding: 20px 0px;
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: tomato;
}
.balance{
    background-color: orange;
}
#dashboard-area{
    display: none;
}
